<div id="page-content">
<center>
    <h1 class="m-3">About Page</h1>
</center>
<center>
    <%= link_to 'Articles Listing', articles_path, class: 'text-lighter' %>
    <%= link_to 'Home Page', root_path, class: 'text-lighter' %>
</center>
</div>